
.skills-heading {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 40px;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}

.skills-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 20px;
}

.skills-section {
  background: transparent;
  padding: 20px 0 60px 0;
}


.tech-card {
  width: 260px;
  height: 260px;
  padding: 2px;
  border-radius: 20px;

 
  background: transparent;
  border: 1px solid rgba(0,234,255,0.08);

  
  box-shadow:
    0 0 25px rgba(0, 234, 255, 0.6),
    0 0 50px rgba(0, 234, 255, 0.35);

  transition: 0.4s ease;
  cursor: pointer;
}

.tech-card-content {
  width: 100%;
  height: 100%;
  border-radius: 18px;

  background: rgba(255, 255, 255, 0.05);       
  backdrop-filter: blur(12px);                 
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15); 

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tech-card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 0 35px rgba(0, 234, 255, 1),
    0 0 70px rgba(0, 234, 255, 0.9);
}
.tech-icon {
  width: 80px;
  margin-bottom: 15px;
  filter: drop-shadow(0 0 10px rgba(0, 234, 255, 0.8));
}

.tech-title {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(0, 234, 255, 0.8);
}
